@model StreetLighting.Models.ErrorViewModel

    <div class="alert-warning align-content-stretch align-self-center align-items-center border-dark">

        <h2 style="text-align:center;">Ошибка</h2>
        <h4 style="text-align: center;">@Model.RequestId</h4>
    </div>